* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: #efefef;
}

.todolist-next14 {
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 400px;
  margin: 30px auto 0 auto;
  padding: 20px;
  background-color: #e9dffe;
}

.todolist-next14 h1 {
  font-size: 24px;
  margin: 0 0 15px 0;
}

.todolist-next14 input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px;
}

.todolist-next14 form {
  margin-bottom: 15px;
}

.todolist-next14 button,
.todolist-next14 form button {
  background-color: #8c0bd7;
  color: #fff;
  padding:8px 15px;
  border: unset;
  border-radius: 6px; 
  cursor: pointer;
}

.todolist-next14 ul, .todolist-next14 ul li{
  list-style: none;
  padding: 0;
  margin: 0;
}

.todolist-next14 ul li {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  min-height: 40px;
  background-color: #fff;
  justify-content: space-between;
}


.todolist-next14 ul li button {
  padding: 5px 10px;
  font-size: 12px;
}